@charset "UTF-8";

@import 'vendor/normalize';

.asc {
    border-bottom: 5px solid gray;
}

.desc {
  border-top: 5px solid gray !important;
}

.refresh-button {
    padding: 1rem;
}

.sort-header td {
    cursor: pointer;
    font-weight: bold;
}
nav {
    background: gray;
    color: white;
}

.x.axis text {
    transform: rotate(-45deg);
}